@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

.title{
    position: relative;
    display: block;
    height: auto;
    width: 100vw;
    margin: 0;
    
}

.title h1{
    font-family: "Oswald", sans-serif;
   display: block;
  font-weight: 400;
  font-size: 35px;
  margin: 10px;
  color: black;
 margin-left: auto;
 margin-right: auto;
 
 text-align: center;
}

.title h2 {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
  }
  